- hosts: web
  become: true
  vars:
    web_root: /var/www/html
    local_build_path: ../react_build
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install nginx and rsync
      apt:
        name:
          - nginx
          - rsync
        state: present

    - name: Ensure web root exists
      file:
        path: "{{ web_root }}"
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Remove default index.html (if exists)
      file:
        path: "{{ web_root }}/index.nginx-debian.html"
        state: absent
        ignore_errors: yes

    - name: Copy React build to server (rsync via delegate_to localhost)
      synchronize:
        src: "{{ local_build_path }}/"
        dest: "{{ web_root }}/"
        rsync_opts:
          - "--delete"
      delegate_to: localhost

    - name: Ensure ownership
      file:
        path: "{{ web_root }}"
        recurse: yes
        owner: www-data
        group: www-data

    - name: Restart nginx
      service:
        name: nginx
        state: restarted
